@model IEnumerable<MercadosHernandez.Models.Pais>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:orange" >Paises donde puedes encontrarnos!</h1>

<p>
    <a class="btn btn-primary btn-xl" asp-action="Create">Ingresar un nuevo pais!</a>
</p>

<table class="table table-bordered" style="color:white" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Nombre)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <button type="button" class="btn btn-light"><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                    <button type="button" class="btn btn-warning"><a asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                    <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
                </td>
            </tr>
        }
    </tbody>
</table>
